.env
.deploy
node_modules
android-node/node_modules
public/nodejs-project
android/app/src/main/assets/nodejs-project
android/app/src/main/assets/public
android/app/src/main/assets/public/nodejs-project
android/app/libs/cdvnodejsmobile
android/capacitor-cordova-android-plugins/src/main/assets/www
android/capacitor-cordova-android-plugins/libs/cdvnodejsmobile
android/capacitor-cordova-android-plugins/src/main/libs/cdvnodejsmobile
android/local.properties
android/.gradle
android/**/build
android/**/.cxx
android/**/.idea
data
src/server/data
models/*
!models/piper
models/piper/*
!models/piper/en_GB-northern_english_male-medium.onnx
!models/piper/en_GB-northern_english_male-medium.onnx.json
vendor
!vendor/piper
vendor/piper/*
!vendor/piper/piper
!vendor/piper/*.so*
!vendor/piper/espeak-ng-data
!vendor/piper/espeak-ng-data/**
__MACOSX
clawd-animation-skill
*.log
